html {
    background-color: rgb(26, 26, 26);
    color: rgb(85, 32, 155);
}
.page_header {
    text-align: center;
    font-size: 37px;
    position: fixed;
    z-index: 10;
    background-color: #8a8a8a00;
    width: 100%;
    border-bottom: 1px solid #020202;
    padding: 5px;

}
.page_body {
    padding-top: 64px;
    width: 720px;
    margin: 0 auto;
}